[*.cs]

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = true:none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0018: Inline variable declaration
csharp_style_inlined_variable_declaration = true:none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = suggestion
